<div (mouseover)="hoverIn()" (mouseleave)="hoverOut()" class="btn-container" id="btn">

        <span>
            <button mat-fab aria-label="download" color="primary">
                <mat-icon>get_app</mat-icon>
            </button>
        </span>
        <span>
            <button mat-fab aria-label="download" color="primary">
                <mat-icon>add</mat-icon>
            </button>
        </span>
        <span>
            <button mat-fab aria-label="download" color="primary">
                <mat-icon>remove</mat-icon>
            </button>
        </span>

</div>